<div class="container">
  <header>
    <strong><span>LINSERUN</span>debian</strong>
    <nav>
      <ul>
        <li>close</li>
        <li>min</li>
      </ul>
    </nav>
  </header>
  <div class="frm">
    <select id='action'>
      <option value="search">search</option>
      <option value="run">run</option>
    </select>
    <input type="text" placeholder="command/search text" value="whoami" (keyup.enter)="performAction($event.target.value)">
    <button >proceed</button>
  </div>

    <main>
      <ng-container *ngIf=1>
        test
        tests
        ressffdsfs
        test
        tests
        ressffdsfs
        test
        tests
        ressffdsfs
      </ng-container>
    </main>

</div>