.container {
    display: grid;
    grid-template-rows: 20px auto auto;


    header{
        display: grid;
        grid-template-columns: 80% auto;

        strong{
          -webkit-app-region:drag;
          color: rgb(255, 220, 24);
          span{
            color: rgb(255, 0, 0);
          }
        }
        nav{
          justify-self: right;
          margin-right: 10px;

          ul{
            list-style-type: none;
            margin:0;
            padding: 0;
            
              li{
                float: left;

                //put it in img
                margin-left: 5px;
                cursor: pointer;
                
              }

          }
        }
        
    }
    .frm{
      display:grid ;
      grid-template-columns: 20% 50% 30%;
      margin: 0;

      background-color: #DBDBDB;
        select{
          border: 0;
          outline: 0;
          padding-left: 34px;
          color: rgb(255, 2, 2);
            option{
              display: grid;
              border:1px red;
              background-color: #DBDBDB;
              padding: 12px;
              width: 24px;
              height: 24px;
              margin: 45px;

            }
        }
        input{
          color:  rgb(119, 112, 112);
          border: 0;
          outline: 0;
          padding: 12px;
          background-color: rgb(245, 171, 171);
          width: 390px;
        }
        button{
          float: right;
          background-color:#DBDBDB;
          padding: 12px;
          width:245px;
          color: rgb(128, 126, 126);
          margin: 0;
          font-size: 14px;


        }

    }

}
